{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        Witaj na naszej stronie. Zaloguj się aby zobaczyć swoje zgłoszenia i ich status.
        Możesz także użyć swojego konta aby dodać nowe zgłoszenie
    </h1>
{% endblock %}
